language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"
env:
  - DJANGO=Django==1.4.13
    PIPELINE=django-pipeline==1.3.25
  - DJANGO=Django==1.5.8
    PIPELINE=django-pipeline==1.3.25
  - DJANGO=Django==1.6.5
    PIPELINE=django-pipeline==1.3.25
  - DJANGO=Django==1.7
    PIPELINE=django-pipeline==1.3.25
install:
  - pip install -q $DJANGO --use-mirrors
  - pip install -q $PIPELINE --use-mirrors
script:
  - python runtests.py

matrix:
  exclude:
    - env: DJANGO=Django==1.4.13
      python: "3.3"
    - env: DJANGO=Django==1.4.13
      python: "3.4"
